name: Build and Push Docker Image

on:
  push:
    branches:
      - main

env:
  JAVA_8_VERSION: "1.8.0-471-4-25.10.0.0"
  JAVA_11_VERSION: "11.0.28.0.101-1-25.10.0.0"
  JAVA_17_VERSION: "17.0.16.0.101-1-25.10.0.0"
  JAVA_21_VERSION: "21.0.8.0.101-1-25.10.0.0"

jobs:
  build-specific-images:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    outputs:
      java_versions_json: "['${{ env.JAVA_8_VERSION }}', '${{ env.JAVA_11_VERSION }}', '${{ env.JAVA_17_VERSION }}', '${{ env.JAVA_21_VERSION }}']"
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/setup-buildx-action@v3

      - name: Build and push images using matrix
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}:${{ matrix.java_version }}${{ matrix.arch_suffix }}
          platforms: linux/${{ matrix.platform_arch }}
          build-args: |
            JAVA_DIST_VERSION=${{ matrix.java_version }}
            ARCH_SUFFIX=${{ matrix.arch_suffix }}
          file: ./Dockerfile
    strategy:
      matrix:
        java_version: ${{ fromJson(needs.build-specific-images.outputs.java_versions_json) }}
        include:
          - platform_arch: amd64
            arch_suffix: ""
          - platform_arch: arm64/v8
            arch_suffix: "-arm64"


  create-manifests:
    needs: build-specific-images
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v6
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get short commit SHA
        id: commit
        run: echo "::set-output name=sha::$(git rev-parse --short HEAD)"

      - name: Create and push manifest list
        run: |
          REPO_URL=ghcr.io/${{ github.repository }}
          SHA=${{ steps.commit.outputs.sha }} # Используем SHA
          LATEST="${{ env.JAVA_21_VERSION }}"
          JAVA_VERSIONS=("${{ env.JAVA_8_VERSION }}" "${{ env.JAVA_11_VERSION }}" "${{ env.JAVA_17_VERSION }}" "$LATEST")

          for VERSION in "${JAVA_VERSIONS[@]}"; do
            echo "Creating manifest for $VERSION"
            TAG_AMD64="$REPO_URL:$VERSION"
            TAG_ARM64="$REPO_URL:$VERSION-arm64"
          
            docker buildx imagetools create --append -t $REPO_URL:$VERSION $TAG_AMD64 $TAG_ARM64
            docker buildx imagetools create -t $REPO_URL:$VERSION-$SHA $TAG_AMD64 $TAG_ARM64
          done
          
          docker buildx imagetools create -t $REPO_URL:latest $REPO_URL:$LATEST $REPO_URL:$LATEST-arm64
          docker buildx imagetools create -t $REPO_URL:$SHA $REPO_URL:$LATEST $REPO_URL:$LATEST-arm64
