name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-amd64:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/setup-buildx-action@v3

      - name: Build and push AMD64 image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}:amd64
          platforms: linux/amd64
          build-args: SOURCE_TAG=
          file: ./Dockerfile

  build-arm64:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/setup-buildx-action@v3

      - name: Build and push ARM64 image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}:arm64
          platforms: linux/arm64/v8
          build-args: SOURCE_TAG=-arm64
          file: ./Dockerfile

  create-manifest:
    needs: [build-amd64, build-arm64]
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create and push manifest list
        run: |
          REPO_URL=ghcr.io/${{ github.repository }}
          SHA=${{ needs.set-vars.outputs.short_sha }}
          
          docker buildx imagetools create --append -t $REPO_URL:latest $REPO_URL:amd64 $REPO_URL:arm64
          docker buildx imagetools create --append -t $REPO_URL:$SHA $REPO_URL:$SHA-amd64 $REPO_URL:$SHA-arm64
